a {
    <!-- dark goldenrod -->
    color: #B8860B;
}
main {
    border: 2px solid;
    border-color: #FFEBCD;
    border-radius: 3px;
    width: calc(100% - 40px);
    padding: 20px;
    margin: 40px;
    <!-- linen -->
    background-color: #faf0e6;
}

