a {
    /* dark goldenrod */
    color: #B8860B;
}

.category-title {
    color: #0047AB;
    display: block;
}

main {
    border: 2px solid;
    border-color: #FFEBCD;
    border-radius: 3px;
    max-width: 100%;
    padding: 20px;
    margin: 40px;
    /* linen */
    background-color: #faf0e6;
}

.favicon {
    display: inline;
    width: 16px;
    height: 16px;
}
